<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header'); %>
  </head>
  <body>
    <!-- Navigation-->
    <%- include('../partials/navbar'); %>

    <!-- Hero Section -->
    <%- include('../partials/hero'); %>

    <!-- Products -->
    <footer class="py-5 bg-dark">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>